@import "~bulma/sass/utilities/initial-variables"

html
  min-width: 100vw

html,
body,
ul,
ol
  margin:  0
  padding: 0
// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: rgba(111,137,228,1)
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

.header-sm
  font-size: 16px

.header-md
  font-size: 18px

a.link-button
  color: $primary !important

.text-bold
  font-weight: 600

.keep-margin
  margin: 10px

.contain-wide-text
  max-width: 800px !important
  padding: 24px

.author-image
  height: 3em
  width: 3em
  border-radius: 50%

.inline
  display: inline-block

.spacer
  width: 100%
  height: 120px

.spacer-md
  width: 100%
  height: 160px

.spacer-lg
  width: 100%
  height: 200px

.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-cen
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  font-weight: 700

.navbar > .container .navbar-menu,
.container > .navbar .navbar-menu
  margin: 0 !important

.navbar-item
  margin: 0 30px !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item
  padding: 0 1rem
footer.footer
  position: relative
  background-color: $primary
  display: flex
  align-items: center
  padding: 20px 20px
  .footer-copyright
    position: absolute
    color: white
    font-weight: 600
  .footer-social
    margin: auto
    img
      margin: 0px 20px

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.split-container
  width: 50%
  position: relative
  display: flex 
  align-items: center
  justify-content: center
  .title-divider
    width: 100%
    height: 1px
    background-color: black
    margin: 30px
  .split-title
    font-weight: 900
    font-size: 1.2em
    position: absolute
    padding: 10px 20px
    background-color: white

.search-container
  margin: 20px
  border-bottom: 1px solid rgba(213,213,213,1)
  height: 25px
  max-width: 170px
  .search-input
    border: none
    &:focus
      outline: none
    &::placeholder
      font-size: 1.3em
      font-weight: 600
      color: rgba(213,213,213,1)
      padding: 0px 20px
  .search-button
    border: none
    padding: 0px 10px

.center-children
  display: flex
  justify-content: center

.article-roll
    padding: 80px
    &>div
      width: 33%
      display: inline-block
      vertical-align: top
      padding: 20px
      .article-header
        margin-bottom: 20px
      .article-info
        margin: 20px 0px 70px 0px
        &>img, &>p 
          display: inline-block
          margin-right: 10px
          vertical-align: middle

.show-more
  width: 100%
  display: flex
  justify-content: center
  button
    max-width: 200px
    color: $primary
    border: none
    font-size: 1em
    margin: 10px 0px 50px 0px
    cursor: pointer
    border-bottom: 2px solid $primary
    &:focus
      outline: none

.side-text
  position: absolute
  transform: rotate(-90deg)
  top: 60vh
  left: calc(10% - 250px)
  &>div:first-child
    border-bottom: 3px solid black
    width: 150px
    padding: 0px
  &>div
    display: inline-block
    vertical-align: middle
    padding: 20px
    &>p 
      font-size: 1.5em
      font-weight: 900

.link-container
    display: flex
    padding: 24px
    &>a
        color: grey
        margin-right: 50px
    &>p
        display: inline-block
        color: black


@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%
  .article-roll
    padding: 24px
    &>div
      width: 50%
  .side-text
    transform: rotate(0deg)
    top: 100px
    left: -50px
    &>div:first-child
      border-bottom: 2px solid black

    &>div
      &>p 
        font-size: 1.3em
        font-weight: 800

+mobile
  .link-container
    flex-direction: column
  .split-container
    width: 90%
  .spacer
    height: 10px
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
  footer.footer
    flex-direction: column
    padding: 10px
    height: 100px
    .footer-social
      margin: 10px
    .footer-copyright
      bottom: 10px
  .spacer
    width: 100%
    height: 80px

  .spacer-md
    width: 100%
    height: 120px

  .spacer-lg
    width: 100%
    height: 160px
  
  .article-roll
    padding: 24px
    &>div
      width: 100%
      padding: 0px

  .side-text
    display: none